@import '../colors';
@import '../functions';

.ExperiencesPro {
  .NomEntreprise {
    margin-right: auto;
    padding: 0.5em 6em 0.5em 0.5em;
    display: inline-block;
    border-radius: 3px;
    background-color: $secondary3;
    mask-image: linear-gradient(to right, white 60%, rgba(0,0,0,0.45) 80%, transparent);
  }

  .Description {
    margin-left: auto;
    margin-top: 25px;
    border: $secondary3 1px solid;
    padding: 10px;
    border-radius: 3px;
    box-shadow: rgba(black, 60%) 5px 5px 20px 0px;

    max-width: 45%;
    transition: max-width 600ms;

    .MuiTypography-h3 {
      color: $secondary3;

      &:not(:first-child) {
        margin-top: 0.5em;
        line-height: 2em;
      }
    }

    .MuiTypography-body1 {
      padding: 0 25px;
      margin-bottom: 25px;
    }

    .chips-container {
      line-height: 3rem;
    }
    
    .MuiChip-root {
      font-size: 1.1em;
      color: white;
      background: $secondary5;
      margin-right: 0.5em;
    }

    .LearnMore {
      text-align: center;

      .MuiButton-outlined {
        color: $secondary;
        border: 1px solid rgba($secondary, 0.5);

        &:hover {
          border: 1px solid $secondary;
        }
      }
    }
  }

  .JobEntry:nth-of-type(2n) {
    .NomEntreprise {
      margin-right: 0;
      margin-left: auto;
      padding: 0.5em 0.5em 0.5em 6em;
      mask-image: linear-gradient(to left, white 60%, rgba(0,0,0,0.45) 80%, transparent);
      background-color: $primary3;
    }

    .Description {
      margin-right: auto;
      margin-left: 0;
      border: $primary 1px solid;

      .MuiTypography-h3 {
        color: $primary;
      }

      .MuiChip-root {
        background: $primary5;
      }

      .MuiButton-outlined {
        color: $primary;
        border: 1px solid rgba($primary, 0.5);

        &:hover {
          border: 1px solid $primary;
        }
      }

      hr {
        border-color: $primary;
      }
    }
  }

  hr {
    width: 80%;
    margin: 40px 10%;
    box-shadow: black 5px 5px 10px 0;
    border-color: $secondary;
  }

  .react-parallax {
    margin-left: -5.5%;
    clip-path: unquote(generateWave());
    transition: clip-path 1s ease;

    img {
      min-width: 100vw;
    }
  }

  @media only screen and (max-width: 1200px) {
    .react-parallax {
      clip-path: unquote(generateWave($frequency: 2));
    }
  }

  @media only screen and (max-width: 600px) {
    .react-parallax {
      clip-path: unquote(generateWave($frequency: 3));
    }
  }
}

@media only screen and (max-width: 1200px) {
  .ExperiencesPro .MuiTypography-h1 {
    font-size: 4rem !important;
  }

  .ExperiencesPro .Description {
    max-width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .ExperiencesPro .Description {
    max-width: 90%;
  }
}
