@import '../colors';

.Presentation {
    .box {
        padding: 10px;
        margin: 1.5rem 0 0;
        border: $secondary3 1px solid;
        border-radius: 3px;
        box-shadow: rgb(0 0 0 / 60%) 5px 5px 20px 0px;
    }

    .MuiTypography-body1 {
        padding: 0 25px;
        margin-bottom: 25px;
    }

    .droite {
        margin-left: 1.5rem;
    }

    .chips-container {
        line-height: 3rem;

        .MuiChip-root {
          font-size: 1.1em;
          color: white;
          background: $secondary5;
          margin-right: 0.5em;
        }
    }

    .links {
        .container {
            margin-top: 0.6em;

            img {
                margin-left: 0.6em;
            }
        }
    }
}