$headerNavigationBackground: #3660AD;
$mainNavigationBackground: #427DDF;

$siteStatus: #4F866D;

$linkColor: #DEDE66;
$activeLinkColor: #4578EA;

$secondary: #3FD9D6;
$secondary2: #37BFBD;
$secondary3: #30A6A4;
$secondary4: #298C8B;
$secondary5: #217371;

$mainButtonColor: #1E6795;

$primary: #005FFC;
$primary2: #41BF61;
$primary3: #38A654;
$primary4: #308C47;
$primary5: #27733A;

$mainGrey: #DDE0E4;

$scrollBarThumb: #382F5A;
$scrollBackground: #17141F;
