@import '../functions';

.HomeContainer {
  background-size: cover;
  background-image: linear-gradient(150deg, hsl(257deg 30% 30%), hsl(257deg 40% 20%));

  .container.intro {
    text-align: center;
    height: 100vh;
    width: 100%;

    > .container {
      margin: auto;

      .MuiTypography-h1 {
        font-size: 6.25em;
        transition: font-size 200ms ease;
      }
    }
  }

  .MuiButton-root {
    position: absolute;
    top: 1em;
    right: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .HomeContainer .container.intro > .container .MuiTypography-h1 {
    font-size: 20vw;
  }
}
