@import '../functions';

.HomeContainer {
  clip-path: unquote(generateWave());
}

@media only screen and (max-width: 1200px) {
  .HomeContainer {
    clip-path: unquote(generateWave($frequency: 2));
  }
}

@media only screen and (max-width: 600px) {
  .HomeContainer {
    clip-path: unquote(generateWave($frequency: 3));
  }
}
