.container.intro {
  .MuiButton-outlined {
    opacity: 0;
    transition: opacity 400ms 600ms;
  }

  .MuiTypography-h1 {
    opacity: 0;
    transition: opacity 600ms 300ms;
  }

  .MuiTypography-h3 {
    opacity: 0;
    height: 0;
    transition: opacity 400ms 1000ms, height 400ms 1000ms;
  }

  &.intro-enter-active, &.intro-enter-done {
    .MuiTypography-h1, .MuiTypography-h3 {
      opacity: 1;
    }

    .MuiTypography-h3 {
      height: 2rem;
    }

    .MuiButton-outlined {
      opacity: 1;
    }
  }
}

/* From https://codepen.io/z-/pen/BoyXKr */

$size: 30px;
$speed: 3s;
$peakopacity:0.5;

.arrows {
	position: absolute;
	bottom:6rem;
	left:50%;
	width:$size;
	height:$size;
	transform:translateX(-50%);
	&:before {
		content: '';
		position: absolute;
		width:100%;
		height:100%;
		border-left:$size/3 solid rgba(255,255,255,$peakopacity);
		border-bottom:$size/3 solid rgba(255,255,255,$peakopacity);
		transform:translate($size/3,$size*4/3)rotate(-45deg);
		animation: arrows $speed linear infinite;
	}
	&:after {
		content: '';
		position: absolute;
		width:100%;
		height:100%;
		border-left:$size/3 solid rgba(255,255,255,$peakopacity);
		border-bottom:$size/3 solid rgba(255,255,255,$peakopacity);
		transform:translate($size*2/3,0px)rotate(-45deg) ;
		animation: arrows $speed linear infinite $speed/-2;
	}
}

@keyframes arrows {
  0% {
    border-left:$size/3 solid rgba(255,255,255,0);
    border-bottom:$size/3 solid rgba(255,255,255,0);
    transform:translate($size/-6,$size*4/-6)rotate(-45deg) ;
  }
  10%, 90% {
    border-left:$size/3 solid rgba(255,255,255,0);
    border-bottom:$size/3 solid rgba(255,255,255,0);
  }
  50% {
    border-left:$size/3 solid rgba(255,255,255,$peakopacity);
    border-bottom:$size/3 solid rgba(255,255,255,$peakopacity);
    transform:translate($size/-6,0px)rotate(-45deg) ;
  }
  100% {
    border-left:$size/3 solid rgba(255,255,255,0);
    border-bottom:$size/3 solid rgba(255,255,255,0);
    transform:translate($size/-6,$size*4/6)rotate(-45deg) ;
  }
}
